.header {
    height: 120px;
}
.logo {
    padding: 40px;
}
.logo span {
    color: rgb(241, 241, 241);
    line-height: 1.5;
    font-family: acumin-pro,sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    // text-transform: uppercase;
    width: 87px;
}
.logo span.hench {
    font-size: 30px;
}