div.navigation h2 {
    opacity: 0.5;
    transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.22);
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.02);
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 3px;
    padding-left: 60px;
}
div.navigation {
    position: relative;
    top: 540px;
}

div.navigation h3 {
    // opacity: 0.4;
    transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.22);
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 3px;
    padding-left: 60px;
}
div.navigation hr { 
    background-color: white;
  }
//-----------BUTTONS-----------
button.find-btn {
    position: absolute;
    margin-left: 60px;
    margin-top: 10px;
    height: 40px;
    width: 110px
    
}

div.nav-buttons {
    float: right;
}
div.nav-buttons button.up{
    position: absolute;
    bottom: 155px;
    right: 50px;
}
div.nav-buttons button.down{
    position: absolute;
    bottom: 80px;
    right: 50px;
}