.news-card-style {
    background: rgb(119, 158, 211);
    width: 340px;
    height: 305px;
    border: 2px solid rgb(226, 226, 226);
    // display:flex;
    // justify-content: center;
      
}
.news-card-style div.header {
    padding: 10px;
    font-size: 20px;
    letter-spacing: 1px;
      
}
// @media only screen and (min-width: 1476px) {
//     [class="news-container"] {
//         display: flex;
//         justify-content: vertical;
//     }
// }
.news-container {
    padding-top: 80px;
    padding-left: 15%;
    padding-right: 15%;


}
.img-top img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.no-decoration {
    text-decoration: none !important;
}
.text-decoration {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}