.company-info h3{
    margin-left: 40px;
}
.company-info h1{
    
}
.company-info p{
    
}
.company-info hr{
    background-color: white;
}
.company-info > * {
    color: white;
}
.contact-info {
    padding: 20px;
    border: solid white 1px;
}